.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}
body{
    background-color:#e1e1e1;
}
header{
    width: 100%;
    background-color: rgb(99, 133, 98);
    height: 95px;
    padding-top: 5px;
}
header>div{
    height: 90px;
    margin: auto;
    margin-right: 6%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}
header>div>h1{
    text-align: right;
    color: white;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgb(92, 92, 92);
    font-size: 1.7em;
}
header>div>p{
    font-style: italic;
    text-align: right;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgb(73, 73, 73);
    font-size: 0.9em;
}

div#temas{
    width: 100%;
    margin: auto;
    margin-bottom: 22px;
    box-sizing: border-box;
    box-shadow: 0px 10px 0px rgb(151, 151, 151);
    padding: 22px 0px;
}
    /*Desc_temas*/
    div#for_tema{
        width: 90%;
        margin: auto;
    }
        #for_tema > p {
            padding: 12px 20px;
            background-color: #bfbfbf;
            border-radius: 5px;
            margin-bottom: 10px;
            font-size: 1.15em;
            filter: sepia(0.5) hue-rotate(100deg) brightness(0.9);
        }
    #div_desc{
        background-color: #bfbfbf;
        border-radius: 5px;
        position: relative;
        width: 100%;
    }
       #div_desc>p{
            padding: 8px 20px;
            line-height: 1.5em;
            height: 50px;
        }

        div.recolher{
            width: 100%;
            height: 37px;
            font-size: 1.5em;
            font-weight: 600;
            background-color: #ababab;
            border-radius: 0px 0px 5px 5px;
            display: flex;
            justify-content: center;
        }
        div.recolher>span{
            height: 100%;
            padding: 5px;
            font-size: 1em;
            line-height: 1.15em;
            font-weight: bolder;
            border-radius: 0px 5px 5px 0px;
            box-sizing: border-box;
            border-radius: 25%;
        }
        span.subir{
            display: none;
        }

    /*Botoes_temas*/

    div#botoes_tema{
        width: 90%;
        margin: auto;
        display: flex;
        height: 37px;
        gap: 11px;
        margin-bottom: 10px;
    }
    div#all_buttons{
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: space-between;
    }
    div#all_buttons>button{
        width: 37px;
        height: 100%;
        display: inline-block;
        border-radius: 4px;
        border: none;
        color: rgb(87, 87, 87);
        background-color: #bfbfbf;
        font-size: 0.85em;
    }
    div#button_add{
        width: 37px;
        height: 100%;
    }
    div#button_add>button{
        width: 100%;
        height: 100%;
        font-size: 1.2em !important;
        border-radius: 4px;
        border: none;
        color: rgb(87, 87, 87);
        background-color: #bfbfbf;
    }
        .selecao{
            filter: sepia(1) hue-rotate(100deg) brightness(0.8) !important;
            color: rgb(0, 0, 0) !important;
            border: 2.15px solid #729a70 !important;
            box-shadow: 0.5px 0.5px 2px rgb(190, 190, 190);
            box-sizing: border-box;
        }

/*Usuarios*/
div#userSection{
    height: auto;
}

div#for_users{
    width: 90%;
    margin: auto;
    margin-bottom: 12px;
    background-color: rgb(227, 227, 227);
    display: flex;
    height: 150px;
    gap: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgb(211, 211, 211);
    padding-bottom: 7px;
}
    #for_adm, #for_rest_users{
        height: 100%;
    }
    #for_adm{
        width: 65px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
    }
    #for_adm img {
        height: 40%;
        width: 60px;
        border-radius: 50%;
        filter: brightness(1.15);
        box-shadow: 2px 2px 4px rgb(134, 134, 134);
    }
    #for_rest_users{
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        overflow-x: hidden;
    }
    #parte1,#parte2{
        width: 100%;
        height: 50%;
        display: flex;
        overflow-x: hidden;
        box-sizing: border-box;
        padding: 5px 0px;
        justify-content: space-evenly;
        gap: 10px;
    }
    #parte1>img,#parte2>img{
        height: 90%;
        width: 60px;
        border-radius: 50%;
        box-shadow: 2px 2px 4px rgb(134, 134, 134);
        filter: brightness(1.15);
    }

    .selecao2{
        filter: sepia(1) hue-rotate(100deg) brightness(1.2) !important;
        border-radius: 50%;
        border: 2.5px solid #465d45;
    }

div#pesquisar{
    height: 35px;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    display: flex;
    position: relative;
}
    div#pesquisar>p{
        color: rgb(121, 121, 121);
        padding: 5px 20px 0px 10px;
    }
    div#pesquisar>span{
        position: absolute;
        top: 5px;
        right: 8px;
        color: rgb(121, 121, 121);
    }

    div#opinion{
        width: 90%;
        margin: auto;
        background-color: #ebebeb;
        border-radius: 5px;
        padding: 12px;
        box-sizing: border-box;
        box-shadow: 0px 0px 10px rgb(207, 207, 207);
        margin-bottom: 30px;
    }

    div#botoes_opni{
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        height: 37px;
        gap: 15px;
    }
    
    div#botoes_opni>button{
        width: 37px;
        height: 100%;
        border-radius: 4px;
        border: none;
        color: rgb(87, 87, 87);
        background-color: #bfbfbf;
        font-size: 0.85em;
    }
    div#user_name{
       display: flex;
       flex-flow: row nowrap;
       background-color: #7bad97;
       margin-bottom: 5px;
       border-radius: 4px;
       position: relative;
    }

    div#user_name>p{
        padding: 7px 20px;
    }
    div#user_name>span{
        position: absolute;
        top: 4px;
        left: 10px;
    }
    p#txt_opinion{
        padding: 10px 0px 20px 20px;
        background-color: #7bad97;
        border-radius: 5px 5px 0px 0px;
    }
    div#opinion > div.recolher{
        background-color: #658d7b;
    }
